colorama>=0.4.6
phonenumbers>=8.12.57
requests>=2.31.0
beautifulsoup4>=4.10.0
urllib3
pyinstaller
whoisdomain>=0.1.0
git+https://github.com/diezo/Ensta.git
snscrape
faker>=11.3.0
holehe>=1.61
aiohttp>=3.8.0
asyncio
psutil>=5.9.0
bs4>=0.0.1
async_timeout>=4.0.0
mechanize>=0.4.8
python-dateutil>=2.8.2
dnspython>=2.3.0
pyfiglet>=0.8.post1
pillow>=10.0.0
python-dotenv>=1.0.0
pyotp>=2.8.0
ntplib>=0.4.0
pyquery>=2.0.0
lxml>=4.9.0
cssselect>=1.2.0
trio>=0.22.0
moviepy>=2.0.0
imageio>=2.31.0
imageio-ffmpeg>=0.4.8
proglog>=0.1.10