flask==2.0.3
flask-cors==3.0.10
requests>=2.31.0
beautifulsoup4>=4.10.0,<4.11.0
phonenumbers>=8.12.57,<8.13.0
python-whois>=0.7.3,<0.8.0
faker>=11.3.0,<11.4.0
werkzeug>=2.3.8,<2.4.0
charset-normalizer>=2.1.1,<3.0.0
urllib3>=1.26.20,<1.27.0
ensta>=5.2.9
holehe>=1.61
async_timeout>=4.0.0
aiohttp>=3.8.0
mechanize>=0.4.8
python-dateutil>=2.8.2
dnspython>=2.3.0
colorama>=0.4.6
pyfiglet>=0.8.post1
bs4>=0.0.1
whoisdomain>=0.1.0
psutil>=5.9.0
moviepy>=2.0.0
pillow>=10.0.0
python-dotenv>=1.0.0
pyotp>=2.8.0
ntplib>=0.4.0
pyquery>=2.0.0
lxml>=4.9.0
cssselect>=1.2.0
trio>=0.22.0
imageio>=2.31.0
imageio-ffmpeg>=0.4.8
proglog>=0.1.10