flask>=2.0.0
flask-cors>=3.0.10
psycopg2-binary>=2.9.0
SQLAlchemy==2.0.27
flask-sqlalchemy>=3.0.0
alembic>=1.7.0
python-dotenv>=0.19.0
requests==2.31.0
beautifulsoup4==4.10.0
urllib3==1.26.20
charset-normalizer==2.1.1
werkzeug==2.3.8
colorama==0.4.6
python-dateutil==2.8.2
phonenumbers==8.12.57
python-whois==0.7.3
faker==11.3.0
git+https://github.com/diezo/Ensta.git
holehe==1.61
aiohttp==3.7.4
mechanize==0.4.8
dnspython==2.3.0
pyfiglet==0.8.post1
bs4==0.0.1
psutil==5.9.0
moviepy==2.0.0
pillow==10.0.0
pyotp==2.8.0
ntplib==0.4.0
pyquery==2.0.0
lxml==4.6.3
cssselect==1.2.0
trio==0.22.0
imageio==2.31.0
imageio-ffmpeg==0.4.8
proglog==0.1.10
flask-migrate>=4.0.0
gunicorn>=20.1.0
netifaces>=0.11.0